<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ content.title }}</h1>

    {% for key, value in paragraphs.items %}
    <p>{{value}}</p>
    {% endfor %}
  </body>

  <script>
    const content = JSON.parse("{{ content.content|escapejs }}");
    console.log("Title: {{content.title}}");
    console.log(content.paragraph1);
  </script>
</html>
